@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

/*Eric Meyer CSS Reset Begins*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/*Eric Meyer CSS Reset Ends*/

body {
/*Center the content in the page*/
  width: 940px;
  margin: 0 auto;
  background-color:	#000033;

/*General Font Style*/
  font-size: 18px;
  font-family: "Times New Roman", serif;
  color: #000033;
}

#page-wrapper {
  background-color: white;
  padding: 20px;
}

p, li, h2 {
  padding-bottom: 9px;
}

p {
  text-indent: 15px;
}

h1 {
  font-size: 36px;
  font-family: "Fjalla One", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;

  border-bottom: 3px solid black;
}

h2 {
  font-size: 24px;
  font-family: "Fjalla One", sans-serif;
}

ul {
  list-style-type: disc;
  margin-left: 50px;
}

ol {
  list-style-type: upper-roman;
  margin-left: 50px;
  padding-bottom: 20px;
}
