@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Quicksand');

body {
  background-image: url(images/hikingBackgroundImage.png);
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  color: #033A03;
}

img {
  min-height: 100%;
  max-height: 100%;
}

#siteWrapper {
  display: table;
  height: 100%;
  width: 960px;
  margin: 0 auto;

  min-height: 100%;
}

h1 {
  font-family: "Cabin Sketch", fantasy;
  font-size: 100px;
  text-align: right;
  float: left;
  width: calc(50% - 15px);
  margin: 0;
  padding-top: 20%;
  padding-right: 15px;
  line-height: 1;
}

p {
  line-height: 1.25;
}

#slogan {
  float: right;
  width: calc(50% - 15px);
  padding-top: 20%;
  padding-left: 15px;
}

#socialMedia {
  position: absolute;
  bottom: 5px;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#socialMedia li {
  list-style-type: none;
  float: left;
  padding: 0 10px;
  font-size: 18px;
}

#socialMedia a {
  text-decoration: none;
  color: #7ADF7A;
}

#socialMedia img {
  width:18px;
  height: 18px;
  padding: 0 2px;
}
